.logo {
  text-decoration: none;
  color: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: #fff;
  box-shadow: 0 0 10px 0 rgb(0 0 0);
}

.header-height {
  height: 75px;
}

.main-view {
  padding-top: 75px;
}

.home-screen {
  padding: 60px 0;
  background-color: #e7e7e7;
  background-size: cover;
  background-position: 50%;
  min-height: calc(100vh - 72px);
  box-sizing: border-box;
  position: relative;
  background-image: url('../assets/background.webp');
}

.home-screen .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.home-screen .main-content {
  z-index: 2;
  position: relative;
}

.filters-wrapper {
  background: #fff;
  border: 1px solid blue;
  padding: 16px;
  border-radius: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
}
